stages:
  - test
  - sonar

variables:
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.repo.local=.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version"

cache:
  key: one-key-to-rule-them-all
  paths:
    - .m2/repository

test:
  stage: test
  script: mvn $MAVEN_CLI_OPTS clean verify

sonar:
  stage: sonar
  script: 
  - mvn $MAVEN_CLI_OPTS clean verify sonar:sonar --settings settings.xml   
  only:
  - master
